
<div id="header">
      <h1 id="burgerForm">Burger Time!</h1>
      <hr style="width: 25%">
      <h1>Add a Burger</h1>
      <form action="/api/new" method="POST" class="create-form">

        <div class="form-group">
          <label for="ca"></label>
          <input type="text" id="bu" name="name">
        </div>

        <button type="submit" id="submit">Add Burger</button>
      </form>
</div>


<div>
  <div id="grill">
    <h2>Burgers on the Grill!</h2>
    {{#each burgers}} 
      {{#unless eaten}}
        {{> burgers/burger-block eaten=true}}
      {{/unless}}
    {{/each}}
  </div>


  <div id="devoured">
    <h2>Burgers that have been devoured!</h2>
    {{#each burgers}}
      {{#if eaten}}
        {{> burgers/burger-block eaten=false}}
      {{/if}}
    {{/each}}
  </div>
</div>

